<table>
  <tr>
    <% if resource.first.is_a?(Test) %>
      <th>Title</th>
      <th>Level</th>
      <th>Questions number</th>
      <th colspan="4">Actions</th>
    <% else %>
      <th>Body</th>
      <th colspan="3">Actions</th>
    <% end %>
  </tr>

  <%= render resource %>
</table>
