<p> <%= this_year_helper %></p>
<p>Кухаренко Екатерина Александровна</p>
<p><%= github_url(author: 'Katrin3744', repo: 'test-guru', title: 'TestGuru') %></p>
<div>
  Проект представляет собой сервис по онлайн тестированию на различные темы.
</div>
<p><a href="https://www.thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></p>
