<p> <%= this_year_helper %></p>
<p>Кухаренко Екатерина Александровна</p>
<p><%= link_to 'TestGuru', github_url('Katrin3744', 'test-guru') %></p>
<div>
  Проект представляет собой сервис по онлайн тестированию на различные темы.
</div>
<p><a href="https://www.thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a></p>
