<p class="nav project"><%= link_to "TestGuru", root_path %></p>
<p class="nav signup"><%= link_to "Sign up", new_user_registration_path %></p>
<p class="nav login"><%= link_to "Log in", user_session_path%></p>
