<p class="nav project"><%= link_to "TestGuru", tests_path %></p>
<p class="nav user">Welcome, <b><%= current_user.name %></b> Guru</p>
<p class="nav exit"><%= link_to "Exit", session_path(session[:user_id]), method: :delete %></p>
