<p class="nav project"><%= link_to "TestGuru", root_path %></p>
<p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
<p class="nav exit"><%= link_to "Exit", destroy_user_session_path, method: :delete %></p>
